body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper{
    width: 100%;
    align-items: center;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}