@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body {
  background: #7158e2;
} */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .search-bar {
  background: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px 7px 0 0;
}
.container .search-bar.active {
  border-bottom: 2px solid #7158e2;
}
.container .search-bar input {
  font-size: 18px;
  border: none;
  outline: none;
  padding: 5px;
  width: 400px;
}
.container .search-bar i {
  color: #7158e2;
  font-size: 25px;
}
.container .list-group {
  padding: 10px;
  background: white;
  border-radius: 0 0 7px 7px;
  display: none;
  max-height: 200px;
  overflow-y: auto;
}
.container .list-group li {
  list-style: none;
  background: white;
  padding: 10px;
  border-radius: 5px;
  color: #2f3542;
  cursor: pointer;
  transition: all 0.2s ease;
}
.container .list-group li:hover {
  background: #dfe4ea;
}