@import url("https://fonts.googleapis.com/css?family=Roboto");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

:root {
  --duration: 1s;
  --easing-in: ease-in;
  --ease-out: ease-out;
  --dis: -50%;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Roboto;
  font-size: 300;
  background-color: #080767;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 90vmin;
  height: 90vmin;
  border: 8px solid white;
  overflow: hidden;
  cursor: pointer;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
#main::after {
  content: attr(data-scene) " / " attr(data-scene-count);
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  font-size: 2vmin;
  color: black;
  z-index: 999;
}
#main::before {
  content: "";
  width: 2px;
  height: 85%;
  border-radius: 2px;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.scene .title {
  flex-basis: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scene .wrapper {
  padding: 0.1em 0;
  overflow: hidden;
}
.scene .wrapper > * {
  transform: translateY(100%);
  transition: transform 0.2s var(--ease-out);
}
.scene .photo {
  margin: 0;
  flex-basis: 100%;
  overflow: hidden;
}
.scene img {
  height: 100%;
  transition: all 1s var(--ease-out);
}
.scene .ellie {
  transform: translateX(calc(var(--dis) - 20%));
}
.scene .abbie {
  transform: translateX(calc(var(--dis) * -1));
}
.scene .joel {
  transform: translateX(calc(var(--dis) - 22%));
}

.scene[data-active] {
  z-index: 999;
}
.scene[data-active] img {
  transition: transform 0.8s var(--easing-in);
  transform-origin: left;
  transition-delay: 0s;
}
.scene[data-active] .ellie {
  transform: translateX(-20%);
}
.scene[data-active] .abbie {
  transform: translateX(-19%);
}
.scene[data-active] .joel {
  transform: translateX(-22%);
}
.scene[data-active] .wrapper > * {
  transform: none;
  transition: transform 0.5s var(--easing-in);
  transition-delay: 0.3s;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.1rem;
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }
}
.ripple {
  width: 10px;
  height: 10px;
  background-color: transparent;
  position: fixed;
  border-radius: 50%;
  border: 1px solid #484948;
  -webkit-animation: ripple-effect 0.3s linear;
          animation: ripple-effect 0.3s linear;
}

@-webkit-keyframes ripple-effect {
  to {
    transform: scale(8);
    opacity: 0.05;
  }
}

@keyframes ripple-effect {
  to {
    transform: scale(8);
    opacity: 0.05;
  }
}